DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

SEPOLIA_RPC_URL=https://sepolia.gateway.tenderly.co
ETHEREUM_RPC_URL=https://rpc.flashbots.net
CHIADO_RPC_URL=https://rpc.chiadochain.net
GNOSIS_RPC_URL=https://rpc.gnosischain.com

ETHERSCAN_API_KEY= "YOUR_API_KEY"
ALCHEMY_API_KEY= "YOUR_API_KEY"

SHUTTER_TOKEN_SEPOLIA="0x031219C4Db62C9403A243796C6CD59851038b5Ba"
SHUTTER_TOKEN_CHIADO="0x991094C6b570A3eBDA9D1EaE13b086d0becC54B5"